@import url('https://cristian-ramirez.github.io/public/style/fa.all.css');

:root {
  --font-mono:
    ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono',
    'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --color-primary: #1e293b;
  --color-secondary: #475569;
  --color-soft-primary: #cbd5e1;
  --color-soft-secondary: #e2e8f0;
  --color-bg: #222;
  --color-paragraph: #c4c4c4;
  --color-text: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  font-family: var(--font-mono);
  flex-direction: column;
  padding: 14px;
  min-height: 100vh;
  color: var(--color-primary);
  gap: 14px;
  background-color: var(--color-bg);
}

header,
main,
footer {
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
}

header a {
  text-decoration: none;
}

header {
  padding: 14px 0;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  color: var(--color-paragraph);
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: var(--color-text);
}

.postsContainer {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 14px;
}

.statsContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 14px;
}

article div {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

article div ul {
  list-style-position: inside;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

@media (min-width: 640px) {
  body {
    padding: 24px;
    gap: 24px;
  }

  .postsContainer {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 24px;
  }
}
